<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/{{ page.base_url }}/assets/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/{{ page.base_url }}/assets/images/ICO.ico" sizes="32x32" />
    <link rel="icon" href="assets/images/ICO.ico" sizes="16x16" />
    <link rel="icon" href="assets/images/ICO.png" sizes="192x192" />
</head>
<body style="background-image: url('/{{ page.base_url }}/assets/images/background.png');">

    <header class="header">
        <img src="/{{ page.base_url }}/assets/images/logo.png" alt="Stealth Syndicate Logo" class="logo">
        <nav>
            <a href="#about">About</a>
            <a href="#game-modes">Game Modes</a>
            <!--<a href="#demo">Demo</a>-->
            <a href="#presskit">Press Kit</a>
            <!--<a href="#contact">Contact</a>-->
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <main>
        <section id="about" class="about">
            <h2>About the Game</h2>
            <p>Blend in, hide among the crowd, and achieve your objectives without being spotted!</p>
            <p>Stealth Syndicate is an exhilarating party game for 2 to 10 players, where strategy, speed, and stealth come together. Play locally or online and outsmart your opponents to claim victory!</p>
            <div class="platform-links">
                <div class="link-container">
                    <a href="https://store.steampowered.com/app/3047320/Stealth_Syndicate/">
                        <img src="/{{ page.base_url }}/assets/images/steam.svg" alt="Play on Steam" class="platform-icon">
                    </a>
                    <a href="https://store.steampowered.com/app/3047320/Stealth_Syndicate/" class="url-link">https://store.steampowered.com/app/3047320/Stealth_Syndicate</a>
                </div>

            </div>
        </section>

        <section id="game-modes" class="game-modes">
            <h2>Game Modes</h2>
            <div class="mode-cards">
                <div class="card">
                    <img src="/{{ page.base_url }}/assets/images/mode-race.png" alt="Race Mode Screenshot">
                    <h3>Race</h3>
                    <p>Be the first to cross the finish line while eliminating characters you think are players.</p>
                </div>
                <div class="card">
                    <img src="/{{ page.base_url }}/assets/images/mode-battle-royale.png" alt="Battle Royale Mode Screenshot">
                    <h3>Battle Royale</h3>
                    <p>Be the last survivor in a shrinking zone.</p>
                </div>
                <div class="card">
                    <img src="/{{ page.base_url }}/assets/images/mode-target.png" alt="Target Mode Screenshot">
                    <h3>Target</h3>
                    <p>Spot and kill your target; if you fail, you're eliminated.</p>
                </div>
                <div class="card">
                    <img src="/{{ page.base_url }}/assets/images/mode-green-light.png" alt="Green Light Mode Screenshot">
                    <h3>Green Light</h3>
                    <p>Like the race, but advance when the lights are off.</p>
                </div>
                <div class="card">
                    <img src="/{{ page.base_url }}/assets/images/mode-zombie.png" alt="Zombie Mode Screenshot">
                    <h3>Zombie</h3>
                    <p>Activate computers while avoiding increasingly numerous zombies.</p>
                </div>
                <div class="card">
                    <img src="/{{ page.base_url }}/assets/images/mode-domination.jpg" alt="Domination Mode Screenshot">
                    <h3>Domination</h3>
                    <p>Team-based gameplay where players capture zones.</p>
                </div>
                <div class="card">
                    <img src="/{{ page.base_url }}/assets/images/mode-gold.png" alt="Gold Mode Screenshot">
                    <h3>Gold</h3>
                    <p>When the lights go out, touch a statue to win.</p>
                </div>
            </div>
        </section>

        <section id="presskit" class="presskit">
            <h2>Press Kit</h2>
            <div class="presskit-button">
                <a href="/{{ page.base_url }}/assets/presskit/StealthSyndicate_presskit.zip" class="btn" download>Download Press Kit</a>
            </div>
        </section>

        <section id="contact" class="contact">
            <h2>Contact</h2>
            <p>You can contact me on any of these networks</p>
            <div class="social-icons">
                <a href="https://bsky.app/profile/vlopesvicente.bsky.social" target="_blank" class="social-icon">
                    <i class="fab fa-bluesky fa-2x"></i>
                </a>
                <a href="https://mastodon.social/@vlopes" target="_blank" class="social-icon">
                    <i class="fab fa-mastodon fa-2x"></i>
                </a>
                <a href="https://x.com/v_lopesvicente" target="_blank" class="social-icon">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="https://www.threads.net/@vlopesvicente" target="_blank" class="social-icon">
                    <i class="fab fa-threads fa-2x"></i>
                </a>
                <a href="https://discord.gg/GWBxavfW3T" target="_blank" class="social-icon">
                    <i class="fab fa-discord fa-2x"></i>
                </a>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Vincent Lopes-Vicente</p>
    </footer>

</body>
</html>
